

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th scope="col">nomPatient</th>
                    <th scope="col">Address</th>
                    <th scope="col">mail</th>
                    <th scope="col">Datedebut</th>
                    <th scope="col">DateFin</th>
                    <th scope="col">telephone</th>
                    <th scope="col">Clinique</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <!--| filter:searchText-->
                    <td>
                       hhhh
                    </td>
                    <td>
                        hhhh
                    </td>
                        
                    <td>
                        hhhh    
                    </td>
                    <td>
                        hhh
                    </td>
                    <td>
                        hhh
                    </td>
                    <td>
                        111
                    </td>
                    <td>
                       111
                    </td>
                    
                    <td>
                        <button class="btn btn-outline-danger mr-2" style="padding: 8px"> Delete</button>
                        <button class="btn btn-outline-danger mr-2" style="padding: 8px" [routerLink]="['']">confirmer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
    