<div class="top_part">
    <div class="overlay">
      <!--<h2 style="z-index: 10;position: absolute;top:50%;left: 20%;">Le Blog Workmood</h2>-->
    </div>
    <div class="filter_part">
      
      <div class="filter_caat">
      <p style="font-size:32px;font-weight: 600;margin-left: 150px;margin-top: 39px;">Selectionner  Votre  Clinique pour reserver le rendez-vous souhaité<span></span></p>
  
       
    </div>
    <!-- <button style="font-size:10px;font-weight: 900;margin-left:70px;" [routerLink]="['/afficherreviewGoodbyuser']">Select to show Good reviews only</button>
    <button style="font-size:10px;font-weight: 900;margin-left:90px;"[routerLink]="['/afficherreviewbyuser']" >Select to show All reviews </button> -->
    </div>
  </div>





<div class="container">
    <div class="card">
      <!-- <div class="card-header"> -->
        <img src="../../assets/b3.jpeg" alt="rover" />
      <!-- </div> -->
      <div class="card-body">
        <span class="tag tag-teal">Toulon ,France</span>
        <!-- <span class="tag tag-purple">Genève,Suisse</span> -->
        <h4>
             Clinique Toulon
        </h4>
        <p>
            40 Rue d'Alger, 83000 Toulon, France
        </p>
        <div class="user">
          <img src="../../assets/female.png" alt="user" />
          <div class="user-info">
            <h5>order@basmile.com

            </h5>
            <small>+33 7 84 96 20 95</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      
        <img src="../../assets/chantepoulet6.jpg" alt="ballons" />
      
      <div class="card-body">
        <span class="tag tag-teal">YYYY ,France</span>
        <h4>
            Clinique YYYYY
        </h4>
        <p>
            Rue de YYYYY 7, France
        </p>
        <div class="user">
          <img src="../../assets/male.png" alt="user" />
          <div class="user-info">
            <h5>geneva2@basmile.com</h5>
            <small>+41 22 900 00 10</small>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>