

<!DOCTYPE HTML>

<html>
	<head>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	</head>
	<body>

		

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to choice your Clinique destination!</h1>
					</header>

									</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article  style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
							<div class="image rounde" style=" border-radius: 50%; display: block; ">
								<img src="../../assets/france.jpg" alt="Pic 01" style="width: 200px;border-radius: 50%;margin-left:16px"/>
							</div>
							<header>
								<h3>Les cliniques <br />  En France</h3>
							</header>
							<p> <br />Clinique Toulon
                                <br />Clinique YYYY</p>
							<footer>
								<a href="#" class="button" [routerLink]="['/cliniquesFrance']">choice France</a>
							</footer>
						</article>
						<article>
							<div class="image rounde" style=" border-radius: 50%; display: block; width: 200px;">
								<img src="../../assets/suisse.png" alt="Pic 02" style="width: 200px;border-radius: 50%;margin-left:190px"/>
							</div>
							<header>
								<h3>Les cliniques<br /> En Suisse</h3>
							</header>
							<p>Clinique des Bergue<br />Clinique Chantepoulet <br /> </p>
							<footer>
								<a href="#" class="button" [routerLink]="['/cliniquesSuisse']">Choice Suisse</a>
							</footer>
						</article>
					</div>
				</div>
			</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
