
<table style="max-width: 70%;">
    <thead>
        <tr>
            
            <th>id_rdv</th>
            <th>id_personne</th>
            <th>id_fauteuil</th>
            <th>rdvDate</th>
            <th>rdvDuree</th>
            <th>rdvArrivee</th>
            <th>rdvComm</th>
           
            <th>localisation</th> 
        </tr>
    </thead>
    <tbody >
        <tr>
            <!-- <td style="width:  12%;">{{Appointement.id_rdv}}</td> -->
            <!-- <td style="width:  12%;">{{Appointement.id_personne}}</td> -->
            <!-- <td style="width:  12%;">{{Appointement.id_fauteuil}}</td> -->
            <td style="width:  12%;">{{Appointement.rdvDate}}</td>
            <td style="width:  12%;">{{Appointement.rdvDuree}}</td>
            <td style="width:  12%;">{{Appointement.rdvArrivee}}</td>
            <td style="width:  12%;">{{Appointement.rdvComm}}</td>
            <td style="width:  12%;">{{Appointement.localisation}}</td>            
        </tr>
    </tbody>
</table>